.Weather {
  border: 1px solid grey;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
}

.Weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.Weather li:first-letter {
  text-transform: capitalize;
}
.Weather a {
  text-decoration: none;
}
.Weather img {
  height: 64px;
  display: inline-block;
  margin-right: 10px;
  width: 64px;
}
.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
}
.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}
