.Weather {
  border: 1px solid grey;
  border-radius: 10px;
  margin: 40px auto;
  max-width: 700px;
  padding: 20px;
}

.Weather h1 {
  font-size: 40px;
  line-height: 30px;
  margin: 10px 0;
  text-align: left;
}
.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
.Weather li:first-letter {
  text-transform: capitalize;
}
.Weather a {
  text-decoration: none;
}

.Weather .overview {
  margin-bottom: 20px;
}

.Weather .weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
}

.Weather .weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.Weather .weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400px;
}

.Weather .weather-temperature .active {
  color: white;
  cursor: default;
}
